@import "stylesheet.css";
html {
  scroll-behavior: smooth;
}
html header {
  background-image: url(../../assets/img/background.png);
  background-size: cover;
  font-family: HelveticaNeueCyr, sans-serif;
  padding-bottom: 5rem;
}
@media (max-width: 520px) {
  html header {
    padding-bottom: 2rem;
  }
}
html header .navbar {
  margin-bottom: 2rem;
}
@media (max-width: 520px) {
  html header .navbar {
    margin-bottom: 0;
  }
}
@media (min-width: 990px) {
  html header .navbar {
    padding: 1rem 4rem;
  }
}
html header .navbar .navbar-brand {
  margin-right: 0;
}
html header .navbar .navbar-brand .brand-logo {
  width: 100%;
}
@media (max-width: 990px) {
  html header .navbar .navbar-brand .brand-logo {
    width: 50%;
  }
}
html header .navbar .navbar-toggler .navbar-toggler-icon {
  width: 1.3rem;
  height: 1.3rem;
}
html header .navbar .navbar-nav .nav-item.active .nav-link {
  color: #0A1E2D;
}
html header .navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}
html header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #0A1E2D;
}
html header .navbar .navbar-nav .nav-item .nav-link.login {
  color: #0A1E2D;
  padding: 0.5rem 1.5rem;
  background-color: #ffffff;
  font-weight: 600;
  margin-left: 1rem;
}
html header .navbar .navbar-nav .nav-item .nav-link.login:hover {
  background-color: #e3e3e3;
}
html header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #0A1E2D;
}
html header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item .flag {
  margin-right: 1rem;
  vertical-align: text-bottom;
}
html header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item .flag .flag-img {
  width: 30px;
  height: 17px;
}
html header .main-title {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
html header .nav-tabs {
  border: none;
}
html header .nav-tabs .nav-item {
  position: relative;
}
html header .nav-tabs .nav-item .nav-link {
  color: #0A1E2D;
  background-color: #F3F3F3;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  border-radius: 0;
  padding: 1rem;
}
@media (min-width: 990px) {
  html header .nav-tabs .nav-item .nav-link {
    padding: 1.5rem;
  }
}
html header .nav-tabs .nav-item .nav-link.active {
  background-color: #0A1E2D;
  color: #ffffff;
}
html header .nav-tabs .nav-item .nav-link.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0A1E2D;
}
html header .tab-content {
  padding: 2rem;
  padding-top: calc(20px + 2rem);
  background-color: #ffffff;
}
@media (max-width: 520px) {
  html header .tab-content {
    padding: calc(20px + 1rem) 2rem;
  }
}
html header .tab-content form .form-control-label {
  color: #0A1E2D;
  font-size: 0.875rem;
  font-weight: bold;
}
html header .tab-content form .form-control-label .fa-question-circle {
  color: #0A1E2D;
  opacity: 0.3;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .form-control-label {
    font-size: 0.7rem;
  }
}
html header .tab-content form .form-control {
  height: 70px;
  color: #0A1E2D;
  border-color: #E5E5E5;
  border-radius: 0;
  padding-left: 0.5rem;
}
@media (max-width: 768px) {
  html header .tab-content form .form-control {
    height: 50px;
  }
}
html header .tab-content form .form-control::placeholder {
  color: #0A1E2D;
  font-weight: 300;
}
html header .tab-content form .form-control:focus {
  box-shadow: none;
  border-color: #E5E5E5;
}
html header .tab-content form .date-time-picker .date {
  border: 1px solid #E5E5E5;
}
html header .tab-content form .date-time-picker .date .datepicker-input {
  width: 58%;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #E5E5E5;
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .date-time-picker .date .datepicker-input {
    font-size: 0.875rem;
  }
}
html header .tab-content form .date-time-picker .date .datepicker-input::placeholder {
  color: #0A1E2D;
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .date-time-picker .date .datepicker-input::placeholder {
    font-size: 0.875rem;
  }
}
html header .tab-content form .date-time-picker .date .timepicker-input {
  width: 40%;
  border: none;
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .date-time-picker .date .timepicker-input {
    font-size: 0.875rem;
    width: 38%;
  }
}
html header .tab-content form .date-time-picker .date .timepicker-input::placeholder {
  color: #0A1E2D;
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .date-time-picker .date .timepicker-input::placeholder {
    font-size: 0.875rem;
  }
}
html header .tab-content form .passengers-picker {
  font-size: 1rem;
}
html header .tab-content form .map {
  margin-top: -2.5rem;
}
html header .tab-content form .map .map-picker {
  background-color: #F3F3F3;
  padding: 1.25rem 2.2rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .map .map-picker {
    padding: 0.8rem 2rem;
  }
}
html header .tab-content form .map .map-picker .tab-pane-text {
  color: #0A1E2D;
  font-size: 0.875rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .map .map-picker .tab-pane-text {
    font-size: 0.75rem;
  }
}
html header .tab-content form .map .map-picker .map-picker-link {
  color: #0091FF;
  font-size: 0.875rem;
  font-weight: bold;
}
@media (max-width: 520px) {
  html header .tab-content form .map .map-picker .map-picker-link {
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .map .map-picker .map-picker-link {
    font-size: 0.75rem;
  }
}
html header .tab-content form .form-check {
  margin-bottom: 0.5rem;
}
html header .tab-content form .form-check .form-check-label {
  color: #0A1E2D;
  font-size: 0.875rem;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .form-check .form-check-label {
    font-size: 0.7rem;
  }
}
html header .tab-content form .form-check .form-check-label .fa-question-circle {
  color: #0A1E2D;
  opacity: 0.3;
}
html header .tab-content form .form-check .form-check-input {
  width: 1rem;
  height: 1rem;
}
html header .tab-content form .btn-primary {
  width: 210px;
}
@media (max-width: 768px) {
  html header .tab-content form .btn-primary {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .btn-primary {
    width: 150px;
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .icon-attention {
    height: 10px;
    width: 10px;
  }
}
html header .tab-content form .attention {
  font-size: 0.875rem;
  color: #0A1E2D;
}
@media (min-width: 768px) and (max-width: 1200px) {
  html header .tab-content form .attention {
    font-size: 0.8rem;
  }
}
html .ui-corner-all {
  font-size: 1rem;
  padding: 0;
}
html .title {
  color: #0A1E2D;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 520px) {
  html .title {
    font-size: 1.875rem;
  }
}
html .description {
  color: #0A1E2D;
  font-size: 1.125rem;
  margin-bottom: 3.75rem;
}
@media (max-width: 520rem) {
  html .description {
    margin-bottom: 1.25rem;
  }
}
html .reason, html .price, html .review, html .vehicles, html .about, html .top-destinations {
  font-family: HelveticaNeueCyr, sans-serif;
  padding: 5rem 0;
}
@media (max-width: 520px) {
  html .reason, html .price, html .review, html .vehicles, html .about, html .top-destinations {
    padding: 4rem 0;
  }
}
html .reason {
  background-color: #FAFAFF;
}
html .reason .reason-card {
  padding: 0 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
}
html .reason .reason-card .reason-card-header {
  border: 4px solid #0091FF;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
@media (max-width: 425px) {
  html .reason .reason-card .reason-card-header {
    width: 75px;
    height: 75px;
  }
}
html .reason .reason-card .reason-card-header .reason-card-img {
  width: 36px;
}
html .reason .reason-card .reason-card-body {
  color: #0A1E2D;
  font-weight: bold;
  max-width: 160px;
}
@media (max-width: 425px) {
  html .reason .reason-card .reason-card-body {
    font-size: 0.8rem;
    width: auto;
  }
}
html .btn-primary {
  background-color: #0091FF;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 70px;
  width: 240px;
  border-radius: 0;
  box-shadow: 0 10px 15px 0 rgba(0, 145, 255, 0.1);
  text-decoration: none;
}
html .btn-primary:focus, html .btn-primary:active {
  box-shadow: 0 10px 15px 0 rgba(0, 145, 255, 0.1);
  background-color: #0091FF;
  border: none;
  outline: none;
}
html .btn-primary:hover {
  background-color: #0082E6;
}
html .price {
  padding-bottom: 7rem;
}
html .price .card {
  border: 2px solid #0091FF;
  border-radius: 0;
  box-shadow: 0 10px 15px 0 rgba(0, 145, 255, 0.1);
  margin: 15px;
}
html .price .card .car-make .media {
  align-items: center;
  margin-bottom: 1.8rem;
}
html .price .card .car-make .media .media-title {
  color: #0A1E2D;
  font-size: 1.5rem;
}
@media (min-width: 990px) and (max-width: 1200px) {
  html .price .card .car-make .media .media-title {
    font-size: 1.1rem;
  }
}
html .price .card .car-make .card-text {
  font-size: 1.125rem;
  color: #0A1E2D;
  font-weight: 300;
}
html .price .card .card-body {
  background-color: #F3F3F3;
}
html .price .card .card-body .card-text {
  font-size: 0.875rem;
  font-weight: bold;
  color: #0A1E2D;
  text-align: center;
}
@media (min-width: 990px) and (max-width: 1200px) {
  html .price .card .card-body .card-text {
    font-size: 0.75rem;
  }
}
html .price .card .card-body .card-text .icon {
  width: 1rem;
}
html .price .card .card-body.car-price {
  background-color: #0091FF;
  margin-right: 0;
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
html .price .card .card-body.car-price .card-text {
  color: #ffffff;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
}
html .price .card .card-body.car-price .card-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
html .price .card .card-body.car-price .card-title.book {
  display: none;
}
html .price .card .card-body.car-price:hover .card-text {
  display: none;
}
html .price .card .card-body.car-price:hover .card-title {
  display: none;
}
html .price .card .card-body.car-price:hover .card-title.book {
  display: block;
  font-size: 1.125rem;
  padding: 0;
}
html .price .carousel .carousel-indicators {
  bottom: -5rem;
}
html .price .carousel .carousel-indicators .carouselIndicators {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0091FF;
  opacity: 0.5;
  margin: 0 0.5rem;
}
html .price .carousel .carousel-indicators .carouselIndicators.active {
  opacity: 1;
}
html .review {
  background-color: #FAFAFF;
}
html .review .card-deck .card {
  height: 500px;
  border: none;
  border-radius: 0;
  padding: 1.875rem;
}
@media (max-width: 520px) {
  html .review .card-deck .card {
    padding: 1.2rem;
  }
}
html .review .card-deck .card .card-body {
  overflow: hidden;
  padding: 0;
}
html .review .card-deck .card .card-body .card-text {
  color: #0A1E2D;
  font-size: 1.125rem;
  line-height: 34px;
}
html .review .card-deck .card .card-footer {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
html .review .card-deck .card .card-footer .user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
html .review .card-deck .card .card-footer .user-avatar .user-avatar-img {
  width: 100%;
}
html .review .card-deck .card .card-footer .card-title {
  margin-bottom: 0;
  color: #0091FF;
  font-weight: bold;
  font-size: 0.875rem;
}
html .review .card-deck .card .card-footer .review-star {
  color: #FFD11C;
  opacity: 0.3;
  font-size: 0.825rem;
}
html .review .card-deck .card .card-footer .review-star.active {
  opacity: 1;
}
html .review .card-deck .owl-nav .owl-prev, html .review .card-deck .owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 7px);
  border: 1px solid #0091FF;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .review .card-deck .owl-nav .owl-prev:hover, html .review .card-deck .owl-nav .owl-next:hover {
  background-color: #0091FF;
  outline: none;
}
html .review .card-deck .owl-nav .owl-prev:hover .fa-chevron-left, html .review .card-deck .owl-nav .owl-prev:hover .fa-chevron-right, html .review .card-deck .owl-nav .owl-next:hover .fa-chevron-left, html .review .card-deck .owl-nav .owl-next:hover .fa-chevron-right {
  color: #ffffff;
}
html .review .card-deck .owl-nav .owl-prev .fa-chevron-left, html .review .card-deck .owl-nav .owl-prev .fa-chevron-right, html .review .card-deck .owl-nav .owl-next .fa-chevron-left, html .review .card-deck .owl-nav .owl-next .fa-chevron-right {
  color: #0091FF;
  height: 14px;
}
html .review .card-deck .owl-nav .owl-prev {
  left: -5%;
}
html .review .card-deck .owl-nav .owl-next {
  right: -5%;
}
html .review .card-deck .owl-dots {
  margin-top: 1rem;
  text-align: center;
}
html .review .card-deck .owl-dots .owl-dot {
  background-color: #0091FF;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 0.5rem;
}
html .review .card-deck .owl-dots .owl-dot:focus {
  outline: none;
}
html .review .card-deck .owl-dots .owl-dot.active {
  opacity: 1;
}
html .vehicles .title {
  margin-bottom: 4rem;
}
html .vehicles .vehicles-carousel {
  font-family: HelveticaNeueCyr, sans-serif;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item .vehicles-type {
  opacity: 0.2;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item .vehicles-type-brand, html .vehicles .vehicles-carousel .owl-stage-outer .owl-item .vehicles-description {
  display: none;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-type {
  opacity: 1;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-type-brand {
  display: block;
  color: #0A1E2D;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 520rem) {
  html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-type-brand {
    font-size: 1.125rem;
  }
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-description {
  display: flex;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-description .properties {
  border: 1px solid #F3F3F3;
  padding: 1rem;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-description .properties .vehicles-property {
  padding: 0 1rem;
  border-right: 1px solid #F3F3F3;
}
@media (min-width: 1200px) {
  html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-description .properties .vehicles-property {
    padding: 0 2rem;
  }
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-description .properties .vehicles-property:last-of-type {
  border: none;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-description .properties .vehicles-property .vehicles-property-title, html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-description .properties .vehicles-property .vehicles-property-text {
  margin-bottom: 0;
  font-size: 0.875rem;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.active .vehicles-description .properties .vehicles-property .vehicles-property-title {
  opacity: 0.5;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.cloned .vehicles-type {
  opacity: 0.3;
}
html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.cloned .vehicles-type-brand, html .vehicles .vehicles-carousel .owl-stage-outer .owl-item.cloned .vehicles-description {
  display: none;
}
html .vehicles .vehicles-carousel .vehicles-type .vehicles-type-img {
  max-width: 550px;
  max-height: 220px;
  display: block;
  margin: auto;
  margin-bottom: 8rem;
}
html .vehicles .vehicles-carousel .owl-nav .owl-prev, html .vehicles .vehicles-carousel .owl-nav .owl-next {
  position: absolute;
  top: 25%;
  background-color: #ffffff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .vehicles .vehicles-carousel .owl-nav .owl-prev:active, html .vehicles .vehicles-carousel .owl-nav .owl-prev:focus, html .vehicles .vehicles-carousel .owl-nav .owl-next:active, html .vehicles .vehicles-carousel .owl-nav .owl-next:focus {
  outline: none;
}
html .vehicles .vehicles-carousel .owl-nav .owl-prev .fa-chevron-left, html .vehicles .vehicles-carousel .owl-nav .owl-prev .fa-chevron-right, html .vehicles .vehicles-carousel .owl-nav .owl-next .fa-chevron-left, html .vehicles .vehicles-carousel .owl-nav .owl-next .fa-chevron-right {
  color: #0091FF;
  height: 14px;
}
html .vehicles .vehicles-carousel .owl-nav .owl-prev {
  left: 5%;
}
html .vehicles .vehicles-carousel .owl-nav .owl-next {
  right: 5%;
}
html .vehicles .vehicles-carousel .owl-dots {
  margin-top: 1rem;
  text-align: center;
}
html .vehicles .vehicles-carousel .owl-dots .owl-dot {
  background-color: #0091FF;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 0.5rem;
}
html .vehicles .vehicles-carousel .owl-dots .owl-dot:focus {
  outline: none;
}
html .vehicles .vehicles-carousel .owl-dots .owl-dot.active {
  opacity: 1;
}
html .about {
  background-color: #FAFAFF;
}
html .about .subheader {
  font-size: 1.5rem;
  color: #0A1E2D;
}
@media (max-width: 520px) {
  html .about .subheader {
    font-size: 1.125rem;
  }
}
html .about .about-text {
  font-size: 1.125rem;
  color: #0A1E2D;
  font-weight: 300;
}
@media (max-width: 520px) {
  html .about .about-text {
    font-size: 1rem;
  }
}
html .top-destinations .list-group {
  margin-right: 1rem;
}
html .top-destinations .list-group .list-group-item {
  color: #0A1E2D;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.5rem;
  border: none;
}
@media (max-width: 768px) {
  html .top-destinations .list-group .list-group-item {
    font-size: 0.6rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  html .top-destinations .list-group .list-group-item {
    font-size: 0.6rem;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  html .top-destinations .list-group .list-group-item {
    font-size: 0.7rem;
  }
}
html .top-destinations .list-group .list-group-item .destination-icon, html .top-destinations .list-group .list-group-item .home-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
}
@media (max-width: 768px) {
  html .top-destinations .list-group .list-group-item .destination-icon, html .top-destinations .list-group .list-group-item .home-icon {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  html .top-destinations .list-group .list-group-item .destination-icon, html .top-destinations .list-group .list-group-item .home-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  html .top-destinations .list-group .list-group-item .destination-icon, html .top-destinations .list-group .list-group-item .home-icon {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }
}
html .top-destinations .list-group .list-group-item .destination-icon .icon-plane, html .top-destinations .list-group .list-group-item .home-icon .icon-plane {
  margin-top: 15px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  html .top-destinations .list-group .list-group-item .destination-icon .icon-plane, html .top-destinations .list-group .list-group-item .home-icon .icon-plane {
    margin-top: 12px;
    margin-left: 8px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  html .top-destinations .list-group .list-group-item .destination-icon .icon-plane, html .top-destinations .list-group .list-group-item .home-icon .icon-plane {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-left: 5px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  html .top-destinations .list-group .list-group-item .destination-icon .icon-plane, html .top-destinations .list-group .list-group-item .home-icon .icon-plane {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
html .top-destinations .list-group .list-group-item .destination-icon {
  background-color: #0091FF;
}
html .top-destinations .list-group .list-group-item .destination-icon:hover {
  background-color: #0082E6;
}
html .top-destinations .list-group .list-group-item .home-icon {
  border: 2px solid #0091FF;
}
html .top-destinations .list-group .list-group-item .home-icon:hover {
  background-color: #0091FF;
}
html .top-destinations .list-group .list-group-item .home-icon .icon-home {
  height: 20px;
  width: 18px;
  margin-top: 13px;
  margin-left: 14px;
}
@media (max-width: 768px) {
  html .top-destinations .list-group .list-group-item .home-icon .icon-home {
    margin-top: 7px;
    margin-left: 9px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  html .top-destinations .list-group .list-group-item .home-icon .icon-home {
    width: 10px;
    height: 10px;
    margin-top: 1px;
    margin-left: 2.5px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  html .top-destinations .list-group .list-group-item .home-icon .icon-home {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 6px;
  }
}
html .top-destinations .owl-dots {
  margin-top: 1.25rem;
  text-align: center;
}
html .top-destinations .owl-dots .owl-dot {
  background-color: #0091FF;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 0.5rem;
}
html .top-destinations .owl-dots .owl-dot:focus {
  outline: none;
}
html .top-destinations .owl-dots .owl-dot.active {
  opacity: 1;
}
html footer {
  padding-top: 30px;
  border-top: 1px solid #E6E6F1;
}
html footer .nav {
  margin-bottom: 1.5rem;
}
html footer .nav .nav-item .nav-link {
  color: #0A1E2D;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0 2rem;
}
@media (max-width: 1024px) {
  html footer .nav .nav-item .nav-link {
    padding: 0 1rem;
  }
}
html footer .nav .nav-item .nav-link:hover {
  color: #0091FF;
}
html footer .payment {
  margin-bottom: 1.5rem;
}
html footer .footer-text {
  color: #0A1E2D;
  opacity: 0.3;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
